/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-kona-instagram-for-gutenberg {
	margin: 0 auto;
	@media all and (max-width: $sm) {
		.kona-grid {
			grid-template-columns: repeat(2, 1fr) !important;
		}
	}
	@media all and (min-width: $sm) and (max-width: $lg) {
		.kona-grid {
			grid-template-columns: repeat(4, 1fr) !important;
		}
	}
}

.display-grid {
	display: grid;
}

/* flexbox fallback if the browser does not support display:grid */
@supports not (display: grid) {
	.display-grid {
		display: flex;
		flex-wrap: row wrap;
		> * {
			flex: 0 1 1;
		}
	}
}

/**
Image Styling
**/
.kona-image {
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
	display: block;
	&:hover {
		opacity: 0.8;
	}
}

/**
Profile pictures
**/
.kona-profile-container {
	grid-template-columns: 60px auto;
	grid-column-gap: 1rem;
	margin-bottom: 1rem;
}
.kona-profile-picture {
	border-radius: 100%;
}
.kona-bio-container {
	h3,
	p {
		margin-top: 0;
		margin-bottom: 0;
	}
}
