/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-kona-instagram-for-gutenberg {
	margin: 0 auto;
	@media all and (max-width: $sm) {
		.kona-grid {
			grid-template-columns: repeat(2, 1fr) !important;
		}
	}
	@media all and (min-width: $sm) and (max-width: $lg) {
		.kona-grid {
			grid-template-columns: repeat(4, 1fr) !important;
		}
	}
}

.display-grid {
	display: grid;
}

/* flexbox fallback if the browser does not support display:grid */
@supports not (display: grid) {
	.display-grid {
		display: flex;
		flex-wrap: row wrap;
		> * {
			flex: 0 1 1;
		}
	}
}

/**
Image Styling
**/
.kona-image-wrapper {
	position: relative;

	&:hover {
		.kona-image-overlay {
			opacity: 1;
		}
		img {
			opacity: 0.6;
		}
	}
}
.kona-image {
	display: block;
}

.kona-image-overlay {
	transition: all 0.25s ease-in;
	position: absolute;
	background-color: transparent;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	&:before {
		content: ' ';
		opacity: 1;
		background: url(../assets/instagram-icon-white.svg) no-repeat center center;
		background-size: 30px 30px;
		position: absolute;
		z-index: 100;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}

/**
Profile pictures
**/
.kona-profile-container {
	grid-template-columns: 60px auto;
	grid-column-gap: 1rem;
	margin-bottom: 1rem;
}
.kona-profile-picture {
	border-radius: 100%;
}
.kona-bio-container {
	h3,
	p {
		margin-top: 0;
		margin-bottom: 0;
	}
}
