/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-gutengram {
	color: $black;
	margin: 0 auto;
	max-width: 740px;
}

.display-grid {
	display: grid;
}

/* flexbox fallback if the browser does not support display:grid */
@supports not (display: grid) {
	.display-grid {
		display: flex;
		flex-wrap: row wrap;
		> * {
			flex: 0 1 1;
		}
	}
}
